body {
	touch-action: pan-x pan-y;
	padding: 0px;
	margin: 0px;
}
#f {
	height: min(100vh, 50vw);
	width: min(200vh, 100vw);
}
.e {
	background: lightgrey;
}
.s {
	background: blue;
}
.a {
	background: red;
}
